*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.title{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    padding: 50px;
    font-size: 2rem;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
    height: 70vh; /* Ensures the main container fits the viewport height */
    overflow: hidden; /* Prevents scrollbars on the main container */
}

.main > section{
    border-radius: 10px;
    background-color: rgb(94, 186, 252);
    box-shadow: 0px 10px 10px black;
    height: 100%; /* Ensures individual sections take the full height of the main container */
    overflow: auto; /* Makes sure if content overflows, it's scrollable */
}

.all-songs-container {
    position: relative;
}

.all-songs-container .songs-header {
    position: sticky;
    top: 0; /* Sticks to the top of the container when scrolling */
    z-index: 100;
    background-color: rgb(94, 186, 252);
    width: 100%; /* Makes it span the full width of .all-songs-container */
    padding: 20px;
}


.all-songs-container .filter-container{
    float: right;
}

.all-songs-container .song-list{
    padding: 20px;
}


.song-card-container{
    text-align: center;
    padding: 20px;
}

.song-card-container > *{
    margin: 20px 0px;
}

.song-card-container audio{
    width: 100%;
}

.card{
    padding: 20px;
    background-color: rgb(35, 178, 244);
    border-radius: 10px;
    box-shadow: 0px 5px 10px black, 0px 5px 10px black;
}

.card img{
    margin: 10px 0px;
    width: 20rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
}

.playlist{
    padding: 20px;
}

.all-songs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.all-songs .song, .playlist .playlist-name{
    margin: 20px;
    background-color: rgb(35, 178, 244);
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.all-songs .song:hover, .playlist .playlist-name:hover{
    background-color: rgb(0, 174, 255);
    cursor: pointer;
}

.song-btn{
    display: flex;
    justify-content: space-evenly;
}

.song-btn button:hover{
    transform: scale(1.1);
}


/* Utilities */
h3{
    font-size: 1.5rem;
}
input, button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.651);
    
}
